$users-table-border-style: 1px solid #333;

.users__table {
    table-layout: fixed;
    border-collapse: collapse;
    border: $users-table-border-style;

    th, td {
        padding: 8px;
    }

    th {
        background-color: lighten(rgb(137, 196, 244), 15%);
    }

    td {
        border-top: $users-table-border-style;
    }
}