body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    background-color: white;
    box-sizing: content-box;
}

.image {
  height: 300px;
  width: 500px;
  background-image: url("../../../img/sales-17.png");
  background-size: cover;
  position: relative;
  right: 25px;

  //background-color: red;
}

button {
  //  background-color: purple;
  //  border: none;
  //  color: #e0ec21;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height: 30px;
    width: 224px;
}

.app-title {
    font-size: 3em;
    margin-left: 16px;
}

main {
    padding: 16px;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}

.inputToCheck {
  width: 220px;
  height: 30px;
}

.button {
  font-family: 'Poiret One', cursive;
}

#xlsxInput {
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
}

.client {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
  margin-top: 50px;
}

.result {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
  line-height: 80%;
  //margin-top: 10px;
}
